.Rproj.user
.Rhistory
.RData
.Ruserdata
.scrapy
.venv


*.gif
*.html
*.png
*.pdf
*.svg
*.tif
_targets/*
SOM_Flood_Viz_Files/*
*.zip
maps/*
*.gpkg
*.xlsx
data/*


*.gpkg
*.gpkg-shm
*.gpkg-wal
/_targets/meta
_targets/meta/meta
/_targets
